{
  "extends": [
    "standard-with-typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
  ],
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "extraFileExtensions": [
      ".vue"
    ]
  },
  "env": {
    "vue/setup-compiler-macros": true
  },
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-non-null-assertion": "off",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "multiline-block-like",
        "next": "multiline-block-like"
      },
      {
        "blankLine": "always",
        "prev": "multiline-expression",
        "next": "multiline-expression"
      },
      {
        "blankLine": "always",
        "prev": "multiline-expression",
        "next": "multiline-block-like"
      },
      {
        "blankLine": "always",
        "prev": "multiline-expression",
        "next": "multiline-block-like"
      }
    ],
    "@typescript-eslint/type-annotation-spacing": "error",
    "vue/component-tags-order": [
      "error",
      {
        "order": [
          "template",
          "script",
          "style"
        ]
      }
    ]
  }
}